/*.sidetitle{
	transform: rotate(-90deg);
	transform-origin: left bottom;
	position: absolute;
	right: 80vw;
	bottom: 0vh;
}*/

body#homepage{
	height: 100vh;
	cursor: url('assets/exclamationmark-cursor.png'), auto;
}
body.bodyquestion{
	height: 100vh;
	cursor: url('../assets/questionmark-cursor.png'), auto;
}
.cursor{
	width: 20px;
	height: auto;
	position: absolute;
}
.sidetitle{
	font-family: Founders Grotesk;
	font-weight: lighter;
}
#onpunc{
	transform: rotate(-90deg);
	transform-origin: left bottom;
	position: fixed;
	bottom: 0vh;
	left: 3vw;
	z-index: 500;
}
#byger{
	transform: rotate(-90deg);
	transform-origin: left bottom;
	position: fixed;
	top: 16vh;
	left: 3vw;
	font-weight: lighter;
	z-index: 500;
}
#titleline{
  border-left: 2px solid black;
  height: 100vh;
  position: fixed;
  left: 4%;
}
.introtext{
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 7%;
	/*bottom: 40vh;*/
	width: 85%;
	font-family: Founders Grotesk;
	font-weight: lighter;
	top: 10%;
}
h1#therearesome{
	font-size: 10.5vw;
	line-height: .8;
}
h3#somearent{
	font-size: 2.5vw;
}
.navbar{
	position: fixed;
	right: 1%;
	bottom: 15%;
	font-family: Cooper Std;
	font-size: 2vw;
	z-index: 100;
}
#navline{
	border-right: 2px solid black;
  	height: 100vh;
  	position: fixed;
  	right: 4%;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: gray;
	cursor: url('assets/exclamationmark-cursor.png'), auto;
}
.questionmark{
	position: fixed;
	width: 10%;
	height: auto;
	font-size: 70vw;
	left: 8%;
	font-family: Cooper Std;
	font-weight: bolder;
	top: -5vh;
}
.pquestion{
	position: absolute;
	width: 40vw;
	right: 8%;
	top: 4%;
	font-family: Founders Grotesk;
	font-weight: lighter;
	font-size: 30px;
}
.apostrophemark{
	position: fixed;
	width: 10%;
	height: auto;
	font-size: 85vw;
	left: 8%;
	font-family: Cooper Std;
	font-weight: bolder;
	top: -5vh;
}
.papostrophe{
	position: absolute;
	width: 40vw;
	right: 8%;
	top: 4%;
	font-family: Founders Grotesk;
	font-weight: lighter;
	font-size: 30px;
}
.semicolonmark{
	position: fixed;
	width: 10%;
	height: auto;
	font-size: 70vw;
	left: 15%;
	font-family: Cooper Std;
	font-weight: bolder;
	bottom: -20vh;
}
.psemicolon{
	position: absolute;
	width: 40vw;
	right: 8%;
	top: 2%;
	font-family: Founders Grotesk;
	font-weight: lighter;
	font-size: 30px;
}
.periodmark{
	position: fixed;
	width: 10%;
	height: auto;
	font-size: 70vw;
	left: 15%;
	font-family: Cooper Std;
	font-weight: bolder;
	bottom: -20vh;
}
.pperiod{
	position: absolute;
	width: 40vw;
	right: 8%;
	top: 2%;
	font-family: Founders Grotesk;
	font-weight: lighter;
	font-size: 30px;
}
.colonmark{
	position: absolute;
	height: auto;
	font-size: 70vw;
	left: 15%;
	font-family: Cooper Std;
	font-weight: bolder;
	bottom: -30vh;
}
.pcolon{
	position: relative;
	top: 2%;
	font-family: Founders Grotesk;
	font-weight: lighter;
	left: 50vw;
	top: 35vh;
	font-size: 2vw;
	width: 120vw;
}
.rectangle1{
	height: 100vh;
	width: 4vw;
	background-color: white;
	position: fixed;
	left: 0%;
	z-index: 100;
}
.rectangle2{
	height: 100vh;
	width: 4vw;
	background-color: white;
	position: fixed;
	right: 0%;
	z-index: 100;
}
.commamark{
	position: fixed;
	height: auto;
	font-size: 70vw;
	left: 15%;
	font-family: Cooper Std;
	font-weight: bolder;
	bottom: -20vh;
}
.pcomma{
	position: absolute;
	width: 40vw;
	right: 8%;
	top: 2%;
	font-family: Founders Grotesk;
	font-weight: lighter;
	font-size: 30px;
}


