.photos{
	top: 630px;
	height: 150px;
	width: auto;
	position: fixed;
	opacity: 0;
}
#beachpic{
	height: 150px;
	width: auto;
}
#parkpic{
	height: 150px;
	width: auto;
}
#parkpic2{
	height: 150px;
	width: auto;
}
iframe{
	height: 80px;
	width: auto;
}
#left-text{
	width: 550px;
	height: auto;
	font-size: 25px;
	font-family: 'Oxygen', sans-serif;
	font-weight: lighter;
}
h2{
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-style: italic;
	position: fixed;
	top: 775px;
	font-size: 12px;
}
#list1{
	width: 420px;
	height: auto;
	position: absolute;
	top: 0px;
	right: 250px;
	font-size: 15px;
	font-family: 'Oxygen', sans-serif;
	font-weight: lighter;
}
p#valentine{
	font-weight: bold;
	color: #820f0e;
	
}
li#reasons{
	color: #820f0e;
	font-weight: bold;
	font-size: 20px;
}
#iloveyou{
	height: 600px;
	width: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 300px;
	display: block;
	opacity: 0;
}
#iloveyou:hover{
	opacity: 75%;
}
ul{
	list-style-type: none;
	line-height: 220%;
}
/**/