body#page1{
	background-image: url("assets/washarch.jpg");
	background-size: 100%;
}
body#page2{
	background-color: black;
	height: auto;
}
div{
	padding: 10px;
}
h1{
	font-family: 'Permanent Marker', cursive;
	font-size: 160px;
	text-align: center;
	/*position: relative*/;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	top: 20vh;
}
iframe{
	height: 80px;
	width: auto;
	position: relative;
	left: 40vw;
}
#h2link{
	color: white;
	text-decoration: none;
	/*position: relative*/;
	font-size: 40px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 30%;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 400;
	font-style: normal;	
	color: white;
}
#intro{
	width: 70vw;
	height: auto;
	/*position: relative*/;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 40px;
}
#p-intro{
	font-size: 40px;
	text-align: center;
	font-weight: lighter;
}
#album{
	width: 30vw;
	height: auto;
	position: relative;
	left: 60%;
	text-align: center;
}
figure {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  position: absolute;
  left: 12vw;
}
img{
	width: 100%;
	height: auto;
}
figcaption{
	color: white;
	font-family: Founders Grotesk;
}
#reception{
	width: 80vw;
	height: auto;
	/*position: relative*/;
	bottom: 50vh;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
table {
  font-family: Founders Grotesk;
  color: white;
  border-collapse: collapse;
  width: 50%;
}
#tracklisting{
	/*position: relative*/;
	margin-left: auto;
	margin-right: auto;
	display: block;
	bottom: 50vh;
}
#h2tracklisting{
	/*position: relative*/;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}
table{
	/*position: relative*/;
	margin-left: auto;
	margin-right: auto;
	
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: black;
}
h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 50px
}
#h2album{
	color: white;
}
#h2reception{
	color: white;
}
#h2tracklisting{
	color: white;
}
#personnel{
	margin-left: auto;
	margin-right: auto;
	display: block;
	bottom: 10vh;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	list-style: none;
	bottom: 50vh;
}
#h2personnel{
	color: white;
	text-align: center;
}
#ul-personnel{
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	list-style: none;
}
#additionalpersonnel{
	/*position: relative*/;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	list-style: none;
	bottom: 45vh;
}
#h2sources{
	color: white;
}
#sources{
	/*position: relative*/;
	bottom: 45vh;
}
h3{
	font-family: Founders Grotesk;
	color: white;
	font-size: 30px;
	text-align: center;
}
ol{
	color: white;
	font-family: Founders Grotesk;
}
ul{
	color: white;
	font-family: Founders Grotesk;
	list-style: none;
}
p{
	font-family: Founders Grotesk;
	font-weight: lighter;
	color: white;
	font-size: 20px;
	letter-spacing: 1.5px;
}

